

login, body{
    height: 100%;
    background-color: #222d32 !important;
}

 .global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7FFFD4;
    
}

 .login-form{
    width: 380px;
    height: 450px;
    padding: 20px;
    margin-top:200px;
    background-color:  #222d32 !important;
    border-radius: 10px !important;
    border-color: #7FFFD4;
}

input[type="text"],
input[type="password"] {
    background: #1a2226;
    color: #fff;
    border: 2px solid #7FFFD4;
    border-radius: 10px;
    margin-bottom: 25px;

}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: #1a2226;
    color: #fff;
    margin: 0;

}

.card-title{
    font-weight: 900;
    padding-top: 20px;

}

.btn {
    background: #7FFFD4 !important;
    color: #000 !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;

}

.register_box{
    width: 380px;
    height: 35px;
    padding: 10px;
    margin-top:100px;
    background-color:  #222d32 !important;
    border-radius: 10px !important;
    border-color: #7FFFD4;
}

