body{
    background-color: #52c5c9;
}
.card-body {
    margin: 100px auto;
    width: 400px;
    padding: 50px;
    border: 1px solid #ccc;
    background: #6495ED;
    border-radius: 10px !important;
    border-color: #2265e2;
}

